project: forest-monitoring-template
storage:
  - name: data
    type: s3
scripts:
  - name: forest-monitoring
    run_on_start: True
apis:
  - name: api
    port: 8021
    host: localhost
    autoscaling:
      min: 1
      max: 1
uis:
  - name: map
    # command: npm run dev # for local development
    command: npm run deploy
    port: 5173
    runtime: node
    autoscaling:
      min: 1
      max: 1
    env:
      API_URL: api.api
